body{
  /*margin: 0 20%;*/
}
.container {
  margin: 5% auto;
  width: 85%;
  max-width: 800px;
  height:600px;
  padding: 1em 3em;
  /*padding: 0px 20px 20px 20px;*/
  border: 1px dotted black;
/*  text-align:center;*/
}

th {
  text-align: left;
}

form {
  /*text-align: center*/
  height:50%;
  width: 100%;
}

label {
  display:block;
  padding: 0.5em 0;
}

.content-box {
  width:100%;
  height:50%;
  /*display:block;*/
}

input{
  display: block;
}

input[type=submit]{
  margin: 1em;
  padding: 1em .75em;
}
