<h1>Bloghawker</h1>
<h2><a href="/new">Create New</a></h2>
<h2>Popular Posts:</h2>
<% Post.order("count DESC").limit(10).each do |post| %>
<a href="/posts/<%=post.id%>"><%=post.title%></a><br>
<% end %>