<h1>Bloghawker</h1>
<h2>New post</h2>

<form action="/new_post" method="POST">
  <label>Title<input type="text" name = "post[title]"></label>
  <label>Content<textarea class="content-box" name="post[content]"></textarea></label>
  <label>Tags<input type="text" name = "post[tags]"></input></label>
  <input type="submit" value="Submit">
</form>